<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.spring.fuelplease.user.mapper.IUserMapper">
    
    <resultMap type="com.spring.fuelplease.voCenter.UserVO" id="userMap">
		<result property="userId" column="user_id" />
		<result property="userPw" column="user_pw" />
		<result property="userName" column="user_name" />
		<result property="userPhone1" column="user_phone1" />
		<result property="userPhone2" column="user_phone2" />
		<result property="userEmail1" column="user_email1" />
		<result property="userEmail2" column="user_email2" />
		<result property="userAddr" column="user_addr" />
		<result property="addrDetail" column="addr_detail" />
		<result property="zipCd" column="zip_cd" />
	</resultMap>
    
    <insert id="userJoin">
    	insert into users
    	(user_id, user_pw, user_name, user_phone1, user_phone2, 
    	user_email1, user_email2, user_addr, addr_detail, zip_cd)
    	values
    	(#{userId},#{userPw},#{userName},#{userPhone1},#{userPhone2},
		#{userEmail1},#{userEmail2},#{userAddr},#{addrDetail},#{zipCd})
    </insert>
    
    <select id="idCheck" resultType = "int">
    	select count(*) from users where user_id = #{userId}
    </select>
    
    <select id="userLogin" resultType="string">
		select user_pw from users
		where user_id = #{userId}
	</select>
	
	<!-- 마이페이지 -->
    <select id="getInfo" resultMap="userMap">
    	select
    		user_name, user_phone1, user_phone2, user_pw,
    		user_email1, user_email2,
    		user_addr, addr_detail, zip_cd
    	from users
    	where user_id = #{userId}
    </select>

    <!-- 회원 정보 수정 -->
    <update id="updateUser">
    	update users
    	set user_pw = #{userPw},
    		user_phone1 = #{userPhone1},
    		user_phone2 = #{userPhone2},
    		user_email1 = #{userEmail1},
    		user_email2 = #{userEmail2},
    		user_addr = #{userAddr},
    		addr_detail = #{addrDetail},
    		zip_cd = #{zipCd}
    	where user_id = #{userId}
    </update>
    
    <delete id="deleteUser">
    	delete from users
    	where user_id = #{userId} and user_pw = #{userPw}
    </delete>
    
    <select id="userBookmark" resultType="string">
    	select bkaddr from bookmark
    	where bkuser_id = #{id};
    </select>
    
    <select id="showBookmark" resultType="bookmark">
    	select bkaddr, bktel, bkname from bookmark
    	where bkaddr = #{bkaddr};
    </select>
    
</mapper>